@model ReliMobileAdmin.Models.Message
<li>
    <div class="author backgroundColor blue author-reply">
        <i class="icon icon-user white"></i>
    </div>
    <div class="name">姓名 (@Model.SendFromUserName) - @Model.SendToUser_Department</div>
    <div class="date">@Model.createdAt</div>
    <div class="delete" data-id="@Model.messageId"><a data-ajax="true" data-id="@Model.messageId">
                                <i class='icon-remove'></i> 
                            </a></div>
    <div class="message">
        @Model.messageContent
    </div>
</li>