@model ReliMobileAdmin.Models.CreateMessageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i> 编写新消息 </h2>
            </div>
            <div class="box-content">
            
                @if (Model.IsCreated.HasValue)
                {
                    <div class="bs-callout bs-callout-danger">
                        <h4>消息已发送</h4>
                    </div>
                }
                @Html.ValidationSummary()
                

                @using (Html.BeginForm("Create", "Message", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        <label class="control-label"> 请选择联系人 </label>
                        <div class="controls">

                            @Html.DropDownListFor(m => m.SelectedUserId, new SelectList(Model.Users, "UserId", "UserName"), "请选择联系人")
                            @Html.ValidationMessageFor(m => m.SelectedUserId)

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"> 消息内容 </label>
                        <div class="controls">
                            @Html.TextAreaFor(m => m.Message, new { placeholder = "请输入您要发送的消息", @class = "diss-form span8", @rows = "8" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </div>
                    </div>
                    <div class="form-actions">
						<button type="submit" class="btn btn-primary btn-large span2">发送</button>
                        @Html.ActionLink("返回消息列表", "Index", "", new {@class="btn  btn-large btn-inverse span2"})
                    </div>
                }
            </div>
        </div>
    </div>
    
</div>