@model ReliMobileAdmin.Models.MessageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.discussions ul li .author {
	width:50px;
	height:50px;
	border-radius:30px;
	line-height:50px;
	font-size:30px;
	text-align:center;
}
.discussions ul li .author-reply {
	width:40px;
	height:40px;
	border-radius:20px;
	line-height:35px;
	font-size:24px;
	left: 20px !important;
	top:20px !important;
}
.discussions ul li ul li textarea {
	background:#efefef;
}
</style>
<h1>所有消息</h1>
<div class="row-fluid">

        <div class="discussions">
            <div class="span12">
            <ul>
                @foreach (var item in Model.Messages)
                {
                    <li>
						@if ( @item.RepliedByMessages.Count() > 0)
						{
                        <div class="author backgroundColor darkGreen">
                            <i class="icon-ok white"></i>
                        </div>
						} else {
						<div class="author backgroundColor orange">
                            <i class="icon-envelope-alt white"></i>
                        </div>
						}
                        <div class="name">姓名（@item.SendFromUserName） - @item.SendToUser_Department</div>
                        <div class="date">@item.createdAt</div>
                        <div class="delete" data-id="@item.messageId">
                            <a data-id="@item.messageId">
                                <i class='icon-remove'></i> 
                            </a>
                        
                        </div>
                        <div class="message">
                            @item.messageContent
                            @if (item.hasImage)
                            {
                                <div class="row-fluid">
                                    <div class="span2">
                                        <img class="img-thumbnail" src='@item.imageUrl' />
                                    </div>
                                </div>
                            }
                        </div>
                            
                        <ul id="ul-@item.messageId">
                            @foreach (var repliedByMessage in item.RepliedByMessages)
                            {
                                Html.RenderPartial("_RepliedMessageView", @repliedByMessage);
                            }
                            
                            <li id="ul-replyForm-@item.messageId" class="replyForm">
                                <label >快速回复</label>
                                @using (Ajax.BeginForm("ReplyMessage",
                                    new { replyToMessageId = @item.messageId },
                                    new AjaxOptions { 
                                        HttpMethod = "POST", 
                                        InsertionMode= System.Web.Mvc.Ajax.InsertionMode.InsertBefore,
                                        UpdateTargetId = "ul-replyForm-" + @item.messageId, 
                                        OnSuccess="Success("+@item.messageId+")"}))
                                {
                                    <textarea class="diss-form" name="messageContent" placeholder="回复信息"></textarea>
                                    <input type="submit" value="发送" class="btn btn-primary" />
                                }
                            </li>
                        </ul>
                    </li>
                }
            </ul>
            </div>
        </div>
        

    
</div>
<div class="row-fluid">
<div class="pagination pagination-centered">
    <ul>
        @for (int i = 0; i < Model.TotalPages; i++)
        {
            <li @if (Model.PageIndex == i){ <text>class="active"</text> } >

                @Html.ActionLink((i + 1).ToString(), "Index", new
                {
                    pageIndex = i
                })
            </li>
        }
    </ul>
</div>
</div>
<script>
    var messageId;

    function Success(msg) {
        var messageId=
        $("#ul-" + msg.messageId).append($newLi);
    }

	/* ---------- Delete Comment ---------- */
    jQuery(document).ready(function ($) {
        $('.discussions').find('.delete').click(function () {
            var id = $(this).attr("data-id");
            var self = this;
            if (confirm('确定要删除这条信息吗？')) {
                $.ajax({
                    url: "/Message/Delete",
                    data: { "messageId": id },
                    method:"DELETE",
                    success: function (data) {
                        $(self).parent().fadeTo("slow", 0.00, function () {
                            $(this).slideUp("slow", function () {
                                $(this).remove();
                            });
                        });
                    },
                    error: function () {
                        alert("error");
                    }
                });

            }

        });
    });
</script>