@model ReliMobileAdmin.Models.CreateWarningViewModel

@{
    ViewBag.Title = "编写预警信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="icon-edit"></i> 编写预警信息 </h2>
            </div>
            <div class="box-content">
            
                @if (Model.IsCreated.HasValue)
                {
                    <p class="bs-callout bs-callout-danger bg-success">
                        消息已发送
                    </p>
                }
                @Html.ValidationSummary()
                

                @using (Html.BeginForm("Create", "Warning", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        <label class="control-label"> 请填写标题 </label>
                        <div class="controls">

                            @Html.TextBoxFor(m=>m.WarningTitle)
                            @Html.ValidationMessageFor(m => m.WarningTitle)

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"> 预警内容 </label>
                        <div class="controls">
                            @Html.TextAreaFor(m => m.WarningContent, new { placeholder = "请输入您要填写的预警内容", @class = "diss-form span8", @rows = "8" })
                            @Html.ValidationMessageFor(m => m.WarningContent)
                        </div>
                    </div>
                    <div class="form-actions">
						<button type="submit" class="btn btn-primary btn-large span2">发送</button>
                        @Html.ActionLink("返回预警信息列表", "Index", "", new {@class="btn  btn-large btn-inverse span3"})
                    </div>
                }
            </div>
        </div>
    </div>
    
</div>
